# See http://help.github.com/ignore-files/ for more about ignoring files.

/todo-mvc/node_modules

# compiled output
/angular-crash-2021/dist
/angular-crash-2021/tmp
/angular-crash-2021/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/angular-crash-2021/node_modules

# profiling files
/angular-crash-2021chrome-profiler-events*.json
/angular-crash-2021speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
/angular-crash-2021.DS_Store
/angular-crash-2021Thumbs.db
